* {
  box-sizing:border-box;
}



  .row {
    display:flex;
        height: 100vh;
    flex-wrap:wrap;

    background: #20B2AA;
    font-family:  "Avenir Next";
    margin: -10px;
font-weight: bold;
text-align: center;
  }




.heading {
  left:15px;

  position: fixed;
  z-index: 10;
  margin-top: 300px;
  font-size: 13pt;
  text-align: center;
  -webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
}



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {

  padding: 0 20px;
}

span {

  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  top: 50%;
  margin-top: -0.5px;
  background:
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: transperant;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: white;

  width: 100%;
  transition: width 0.5s
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.one {
  color: white;
  position: fixed;
  left:30%;
  top:15%;
  text-align: left;
  font-size: 20pt;


}
.two {
  color: white;
  position: fixed;
  left:30%;
  top:30%;
  text-align: left;
  font-size: 20pt;

}
.three {
  color: white;
  position: fixed;
  left:30%;
  top:45%;
  text-align: left;
  font-size: 20pt;

}
.four{
  color: white;
  position: fixed;
  left:30%;
  top:60%;
  text-align: left;
  font-size: 20pt;

}
.five{
  color: white;
  position: fixed;
  left:30%;
  top:75%;
  text-align: left;
  font-size: 20pt;

}



img{
    display: none
}

p.imgone:hover + img{
    display: block;
    position: fixed;
    left:800px;
    width:400px;
    top:70px;
}

p.imgtwo:hover + img{
  display: block;
  position: fixed;
  left:800px;
  width:400px;
  top:70px;
}

p.imgthree:hover + img{
  display: block;
  position: fixed;
  left:600px;
  width:600px;
  top:200px;
}

p.imgfour:hover + img{
  display: block;
  position: fixed;
  left:800px;
  width:400px;
  top:70px;
}

p.imgfive:hover + img{
  display: block;
  position: fixed;
  left:800px;
  width:400px;
  top:70px;
}

.name {
  display: none;

}

.name.showme {
  display: block;
  font-family: 'Raleway', sans-serif;
  top:40%;
  bottom:50%;
  text-align:center;
  padding-top: 350px;
  white-space: nowrap;
  font-weight: 600;
  width: 3%;
  height: 100vh;
  position: fixed;
  top: 300;
  left: 0;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
  font-size: 9pt;
  }


  a {
      color: white;
      text-decoration: none;
  }

  a:hover
  {
       color:white;
       text-decoration:none;
       cursor:pointer;
  }
