/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */


body.oddS {
  background-color: white;
}






body.am .image_swap .eclipse, body.pm .image_swap .morning{
  display: none;
}

body.pm .image_swap .eclipse, body.am .image_swap .morning{
  display: block;
}

body.am .image_swap .sunrise, body.pm .image_swap .afternoon{
  display: block;
}

body.pm .image_swap .sunrise, body.am .image_swap .afternoon{
  display: none;
}



body.h00.am  {
background-color: #17202A;

}

body.h1.am  {
background-color: #1B2631;
}

body.h2.am  {
background-color: #212F3C;
}

body.h3.am  {
background-color: #283747;
}

body.h4.am  {
background-color: #34495E;
}

body.h5.am  {
background-color: #566573;
}

body.h6.am  {
background-color: #F5B7B1;
}

body.h7.am  {
background-color: #EBEDEF;
}

body.h8.am  {
background-color: #AED6F1;
}

body.h9.am  {
background-color: #3498DB;
}

body.h10.am  {
background-color: #2980B9;
}

body.h11.am  {
background-color: #2471A3;
}

body.h12.pm  {
background-color: #C39BD3;
}

body.h01.pm  {
background-color: #BB8FCE;
}

body.h02.pm  {
background-color: #21618C;
}

body.h03.pm  {
background-color: #1A5276;
}

body.h04.pm  {
background-color: #117864;
}


body.h05.pm  {
background-color: #F8C471;
}

body.h06.pm  {
background-color: #F0B27A;
}

body.h07.pm  {
background-color: #C39BD3;
}

body.h08.pm  {
background-color: #633974;
}

body.h09.pm  {
background-color: #512E5F;
}

body.h10.pm  {
background-color: #212F3C;
}

body.h11.pm  {
background-color: #1C2833;
}
