<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layouttwo</title>
    <style  media= "screen">
.inlineblock{display: inline-block;
  width:300px;
}
.widthdouble {width :600px;}



    </style>
  </head>
  <body>

    <div class="inlineblock">
You might deny this until you realize that much of your self-worth is derived from Googling yourself; if you don't exist on the internet, you don't exist.
    </div>

    <div class="inlineblock widthdouble">
You might deny this until you realize that much of your self-worth is derived from Googling yourself; if you don't exist on the internet, you don't exist.
    </div>

    <div class="inlineblock">
You might deny this until you realize that much of your self-worth is derived from Googling yourself; if you don't exist on the internet, you don't exist.
    </div>


  </body>
</html>
