<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
  layoutthree  </title>
  <style media="screen">
  .margin{
    margin-left:200px;
    border-left:2px solid;
    padding-left: 100px;
    width:400px;
  }
  .one{
    margin-left:200px;
  }
    .two{ margin-left:400px;

    }
      .three{ margin-left:600px;

    }

  </style>
  </head>
  <body>


      <div class="margin one">
        <h1>header</h1>
        <h2>header two</h2>

</div>

    <div class="margin two">
      You get frustrated as I do when you are researching in front of your computer and what you're looking for doesn't show up on Google. Perhaps we are at the root of the problem.

</div>

    <div class="margin three">
      You get frustrated as I do when you are researching in front of your computer and what you're looking for doesn't show up on Google. Perhaps we are at the root of the problem.
</div>



  </body>
</html>
