* {
  box-sizing: border-box;
}

.row {
  display:flex;
      height: auto;
  flex-wrap:wrap;

  font-family:  "Avenir Next";
  margin: -10px;
font-weight: bold;
text-align: center;
}

body {
  background: #FA8072;
}

a {
  color: #f7cac9;
font-weight: lighter;
font-size: 20px;

text-align: left;
}

.menu2_list {
  color: #FA8072;
font-weight: lighter;
font-size: 20px;

text-align: left;

}


.col__1of2 {
  flex:0 0 50%;
  height: 100vh;
  background-color: #f7cac9;
  color: white;
  z-index: 1;



}
.col__2of2 {
  flex:0 0 50%;
      height: 100vh;
  background-color: #FA8072;
  color:white;
  position: fixed;
border-left: 1px solid white;
z-index: 1;
}

.box1 {
position: fixed;
left: 18%;
right:10%;
border: 3px solid white;
height: 13px;
width: 100px;
padding: 20px;
padding-top: 0px;
bottom:330px;

}
.box1 a:hover{

background-color: white;
color:#FA8072;

}
.box2 {
position: fixed;
right: 18%;
border: 3px solid white;
height: 13px;
width: 100px;
padding: 20px;
padding-top: 0px;
bottom:330px;
}
.box2 a:hover{
  display: block;
position: fixed;
background-color: white;
color:#FA8072;
}
.heading {
right:545px;
color: white;
margin-left: 200px;
position: fixed;
z-index: 10;
margin-top: 350px;
font-size: 13pt;
text-align: center;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
font-family:  "Avenir Next";

font-weight: bold;
text-align: center;
}
}

.main {
  width: 80%;
  margin: auto;
}
.nav1 {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
  cursor: pointer;
}


/* Notice the position.. it's right:-50vw; that means its 50% off the screen, HIDDEN.  */

.menu1 {
  height: 100vh;
  width: 50vw;
  background-color: #FA8072;
  position: fixed;
  left: -50vw;
  top: 0px;
  z-index: 1;
  transition: all 2s;
  color:white;

}


/* The added class showme makes the right 0. So it transitions from -50vw offscreen to right 0 on screen.  */

.menu1.showme {
  left: 0;
  transition: all 2s;
    text-decoration: none;    color: white;

}

.main1 {
  transition: all 2s;
  margin-top: -0px;
    text-decoration: none;    color: white;
}

.main1.moveleft {
  margin-top: -40vw;
  transition: all 2s;
    text-decoration: none;
    color: white;
    font-size:
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.backtotop {
  position: fixed;
  bottom: 0px;
  right: 0px;
}



.nav2 {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
/* Notice the position.. it's right:-50vw; that means its 50% off the screen, HIDDEN.  */

.menu2 {
  height: 100vh;
  width: 50vw;
  background-color: #f7cac9;
  position: fixed;
  right: -50vw;
  color:blue;
  top:0;
text-align: center;
display: block;
  z-index: 1;
  transition: all 2s;

}




/* The added class showme makes the right 0. So it transitions from -50vw offscreen to right 0 on screen.  */

.menu2.showme {
  right: 0;
  transition: all 2s;
    color:blue;
}

.main2 {
  transition: all 2s;
  margin-top: -0px;
  color:blue;

}

.main2.moveleft {
  margin-top: -40vw;
  transition: all 2s;
    text-decoration: none;
    color: white;
    font-size:
      color:blue;
}

.backtotop {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
