* {
  box-sizing:border-box;
}


.nav {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  width: 7%;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 92.5%;
  white-space: nowrap;
  font-family: 'Raleway', sans-serif;
  text-align:center;
  padding-top: 350px;
  text-decoration: underline;
  -webkit-transform: rotate(90deg);
}

.fcontent {

font-family: 'Raleway', sans-serif;
top:50%;
bottom:50%;
text-align:center;
padding-top: 350px;
white-space: nowrap;
font-weight: 600;
width: 7%;
height: 100vh;
position: fixed;
top: 0;
left: 0;
cursor: pointer;
-webkit-transform: rotate(-90deg);
}


.mainarticle{
  width: 40%;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 7%;
  background-color: white;
  padding-left: 20px;
  padding-right: 60px;
  padding-top:20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: rgb(255,99,71);
  line-height: 1.4;
}

.support{
  width: 45%;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 47%;
  background-color: rgb(230,230,250);
  padding-left: 70px;
  padding-right: 60px;
  padding-top:200px;
  padding-bottom: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.4;
  text-align: justify;


}
p{

  width: 45%;
  height: 100vh;
  overflow: scroll;
  position: fixed;
  top: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.4;
  text-align: justify;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: white;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}



.menu {
  height: 100vh;
  width: 50vw;
  background-color: rgb(230,230,250);
  position: fixed;
  right: -50vw;
  top: 0px;
  z-index: 1;
  transition: all 1s;
  font-family: 'Raleway', sans-serif;
  padding-top: 150px;
  white-space: nowrap;
  font-weight: 300;
  padding-left: 80px;
}

.menu.showme {
  right: 0;
  transition: all 1s;
}

.backtotop {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.rollover {
  color: red;
}

.rollover:hover {
  color: blue;
}

.blur {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  width: 50%;
  height: 100vh;
  position: fixed;
  top:0;
  left:55%;
  color:black;
}
}

.blur.showme {
  opacity: 1;
}
.landscape {
  opacity: 0;
  right: 100px;
    background-color: white;

}
.landscape.showme {
  opacity: 1;
  right: 100px;
    background-color: white;


}
